

<html> 
    
    <head>
        <meta charset="UTF-8">
        <title>Human Resources Management | Northeastern University</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style id="459173ee-f49a-45a6-87a1-6d2c2c42217e">rt.katakana-terminator-rt::before { content: attr(data-rt); }
        
    .img_medium{
        width: 64px;
        height: 64px;

    }
    
.centercontent{
        background-image: url("aboutimg.jpg");
        background-size: 100%;
        background-position: top ;
        height: 200px;
        padding: 20px ;
        text-align:justify;
        margin-bottom :40px;

}
.panel-title{
    color: red;
}
.footer a{
    text-decoration: none;
    color: gray;
    
}
.footer {
  background: black;
  color: gray;
  font-size: 18px;
  padding: 20px 20px;
  margin-top: 20px;
  text-align: center;
  
}

     .navbar{
         
         margin:0px;
     }
        </style>
    </head>
        
        
        
        
    <body> 
        <nav class="navbar navbar-inverse navbar-expand-xl sticky-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.northeastern.edu/">Northeastern University</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="#">Home</a></li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Programs
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="professional-training.html">Professional Development</a></li>
                            <li><a href="leadership-training.html">Leadership Training</a></li>
                            <li><a href="team-development.html">Team Development</a></li>
                        </ul>
                    </li>
                    <li class="active "><a href="about.html">About</a></li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </nav>
    <section>
        <div class="centercontent">
            <h1 class="replacement">About</h1>
            <p>The role of Human Resources Management (HRM) at Northeastern is to design, develop, and continually refine a comprehensive human resources management program that attracts, rewards, and retains high-quality faculty and staff to meet Northeastern University’s educational mission.</p>
        </div>   
            
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Benefits</h3>
            </div>
            <div class="panel-body">
                Our Benefits area administers a comprehensive and competitive employee benefits program for all full-time regular faculty and staff including medical plans, a dental plan, medical and dependent-care reimbursement accounts, retirement plans, life insurance benefits, disability programs, and tuition reimbursement. The group also administers all leaves of absence, develops communications programs to educate faculty and staff about our benefits, and ensures compliance with all federal, state, and IRS regulations.
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Compensation</h3>
            </div>
            <div class="panel-body">
                Our Compensation area is responsible for the design, development, and administration of a competitive compensation program for all staff. This includes the development of salary ranges and administration of performance appraisal programs. The staff in Compensation also consults with department managers on job design related to reorganization and restructuring.
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">HR Partners</h3>
            </div>
            <div class="panel-body">
                The HR Business Partners provide strategic HR support to the colleges and divisions. The HR Business Partners focus on change management, organizational design, employee engagement, strategic workforce planning and performance management thus ensuring a consistent employee experience throughout the university. The Talent Acquisition Partners work closely with leaders across the organization to recruit, hire, and welcome top talent to the university.
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Learning and Organizational Development</h3>
            </div>
            <div class="panel-body">
                The Learning and Development team provides professional development, management, and leadership opportunities for faculty and staff at Northeastern. The team is also responsible for the biweekly university-wide New Hire Orientation program for all new benefits-eligible employees. 
            </div>
          </div>
          
        
    </section>     
        
       
        
        <div class="footer">

                <p><a href="http://www.northeastern.edu/">Northeastern Home </a>| <a href="//my.northeastern.edu">myNEU</a> | <a href="http://www.northeastern.edu/findfacultystaff">Find Faculty &amp; Staff</a> | <a href="http://www.northeastern.edu/neuhome/adminlinks/findaz.html">Find A-Z</a> | <a href="http://www.northeastern.edu/search/index.html">Search</a></p>
        <p>© 2014 Northeastern University · 360 Huntington Ave., Boston, Massachusetts 02115 · 617.373.2000 · TTY 617.373.3768</p>
            
        </div>
    </body>
