

<html> 
    
    <head>
        <meta charset="UTF-8">
        <title>Human Resources Management | Northeastern University</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style id="459173ee-f49a-45a6-87a1-6d2c2c42217e">rt.katakana-terminator-rt::before { content: attr(data-rt); }
        
    .img_medium{
        width: 64px;
        height: 64px;

    }
    
.centercontent{
        background-image: url("trainingdev2.png");
        background-size: 100%;
        background-position: top ;
        height: 200px;
        padding: 20px;
        text-align: justify;
        margin-bottom :40px;

}
.footer a{
    text-decoration: none;
    color: gray;
    
}
.footer {
  background: black;
  color: gray;
  font-size: 18px;
  padding: 20px 20px;
  margin-top: 20px;
  text-align: center;
  
}

     .navbar{
         
         margin:0px;
     }
        </style>
    </head>
        
        
        
        
    <body> 
        <nav class="navbar navbar-inverse navbar-expand-xl sticky-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.northeastern.edu/">Northeastern University</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="#">Home</a></li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Programs
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="professional-training.html">Professional Development</a></li>
                            <li><a href="leadership-training.html">Leadership Training</a></li>
                            <li><a href="team-development.html">Team Development</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </nav>

        <div class="centercontent">
            <h1 class="replacement">Leadership training</h1>
            <p>Northeastern provides a variety of opportunities for faculty and staff to broaden their knowledge in their current roles as well as to learn new skills. Human Resources Management offers workshops and leadership programs. Our catalog of training programs is published four times annually. View our <a href="https://www.northeastern.edu/hrm/pdfs/training-development/LearningCatalog.pdf" target="_blank">course catalogue</a> for course descriptions.</p>
        </div>
            
        
      
        <section class="event_group_list_component container">
            
            <div class="item event media">
                <div class="media-left media-top">
                    <a href="https://www.eventbrite.com/e/strategic-change-management-webinar-registration-80311057535" ><img alt="Strategic Change Management Webinar" class="img_medium media-object"  src="event1.jpg" ></a>
                </div>
                
                <div class="media-body">
                    <h3 class="heading media-heading">
                        <a href="https://www.eventbrite.com/e/strategic-change-management-webinar-registration-80311057535">Strategic Change Management Webinar</a>
                    </h3>
                    <h4 class="description">This course will use movie clips, best practices from leading organizations and the book Switch to help...</h4>
                    <div class="dateright"><p>Thurs, Mar 26 1PM-2PM EDT</p></div>
                </div> 
                
            </div>
            
            <div class="item event media">
                <div class="media-left media-top">
                    <a href="https://www.eventbrite.com/e/how-to-have-a-great-difficult-conversation-registration-88148950885" ><img alt="How to Have a Great Difficult Conversation Webinar" class="img_medium media-object"  src="event1.jpg" ></a>
                </div>
                
                <div class="media-body">
                    <h3 class="heading media-heading">
                        <a href="https://www.eventbrite.com/e/how-to-have-a-great-difficult-conversation-registration-88148950885">Webinar - How to Have a Great Difficult Conversation</a>
                    </h3>
                    <h4 class="description">In an increasingly hectic higher education environment, Northeastern University professionals cannot afford to...</h4>
                    <div class="dateright"><p>Tues, Mar 31 9AM-12PM EDT</p></div>
                </div> 
                
            </div>

            <div class="item event media">
                <div class="media-left media-top">
                    <a href="https://www.eventbrite.com/e/how-to-run-a-virtual-meeting-registration-96751240565" ><img alt="How to Run a Virtual Meeting Webinar" class="img_medium media-object"  src="event1.jpg" ></a>
                </div>
                
                <div class="media-body">
                    <h3 class="heading media-heading">
                        <a href="https://www.eventbrite.com/e/how-to-run-a-virtual-meeting-registration-96751240565"> How to Run a Virtual Meeting Webinar</a>
                    </h3>
                    <h4 class="description">Organizing and facilitating meetings can be challenging, and adding a virtual component can add even more complexity....</h4>
                    <div class="dateright"><p>Fri, Apr 3 2PM-3PM EDT</p></div>
                </div> 
                
            </div>

            <div class="item event media">
                <div class="media-left media-top">
                    <a href="https://www.eventbrite.com/e/working-from-a-distance-webinar-registration-99998771016" ><img alt="Working from a Distance Webinar" class="img_medium media-object"  src="event1.jpg" ></a>
                </div>
                
                <div class="media-body">
                    <h3 class="heading media-heading">
                        <a href="https://www.eventbrite.com/e/working-from-a-distance-webinar-registration-99998771016">Working from a Distance Webinar</a>
                    </h3>
                    <h4 class="description">Are you facing challenges in working with others from a distance?....</h4>
                    <div class="dateright"><p>Mon, Apr 13 1PM-2:30PM EDT</p></div>
                </div> 
                
            </div>
        

           
            
        
        
        
    </section>    
        
       
        
        <div class="footer">

                <p><a href="http://www.northeastern.edu/">Northeastern Home </a>| <a href="//my.northeastern.edu">myNEU</a> | <a href="http://www.northeastern.edu/findfacultystaff">Find Faculty &amp; Staff</a> | <a href="http://www.northeastern.edu/neuhome/adminlinks/findaz.html">Find A-Z</a> | <a href="http://www.northeastern.edu/search/index.html">Search</a></p>
        <p>© 2014 Northeastern University · 360 Huntington Ave., Boston, Massachusetts 02115 · 617.373.2000 · TTY 617.373.3768</p>
            
        </div>
    </body>
